Repository MeilCli/AzurePipelineSample: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-pr-all.yml, azure-pipelines-pr-console.yml, azure-pipelines-pr-core.yml, azure-pipelines-pr-lib-only.yml, azure-pipelines-pr-lib.yml, azure-pipelines-pr.yml

Path conditions:
  azure-pipelines-pr-all.yml: any of: AzurePipelineSample.NETCore.Console, AzurePipelineSample.NETCore.Console.Test
  azure-pipelines-pr-console.yml: any of: azure-pipelines-pr-lib.yml, .azure-pipelines
  azure-pipelines-pr-core.yml: any of: azure-pipelines-pr-lib.yml, .azure-pipelines
  azure-pipelines-pr-lib-only.yml: any of: AzurePipelineSample.NETStandard.Lib, AzurePipelineSample.NETStandard.Lib.Test, but not: AzurePipelineSample.NETStandard.Core, AzurePipelineSample.NETStandard.Core.Test, AzurePipelineSample.NETCore.Console, AzurePipelineSample.NETCore.Console.Test
  azure-pipelines-pr-lib.yml: any of: azure-pipelines-pr-lib.yml, .azure-pipelines
  azure-pipelines-pr.yml: any of: azure-pipelines-pr.yml, .azure-pipelines

fix pipeline
  azure-pipelines.yml
Due: none

Update Library.cs
  AzurePipelineSample.NETStandard.Lib/Library.cs
Due: azure-pipelines-pr-lib-only.yml

test pipeline
  azure-pipelines-pr.yml
Due: azure-pipelines-pr.yml

test pipeline
  azure-pipelines-pr.yml
  temp-build.yml
Due: azure-pipelines-pr.yml

fix pipeline
  azure-pipelines-pr.yml
Due: azure-pipelines-pr.yml

Update Model.cs
  AzurePipelineSample.NETStandard.Core/Model.cs
Due: none

Update Program.cs
  AzurePipelineSample.NETCore.Console/Program.cs
Due: azure-pipelines-pr-all.yml

update README
  README.md
Due: none

fix README
  README.md
Due: none
